{% extends '@email/default/notification/body.html.twig' %}
{% block content %}
  Author: {{ leaverequest.user.email }}<br />
  Email: {{ leaverequest.user.email }}<br />
  State: {{ leaverequest.status.value }}<br />
  <p>
    {{ leaverequest.reason }}
  </p>
{% endblock %}
{% block action %}
  <spacer size="16"></spacer>
  <button href="{{ url('review_leaverequest', { id: leaverequest.id }) }}">Accept</button>
  <button href="{{ url('review_leaverequest', { id: leaverequest.id, reject: true }) }}">Reject</button>
{% endblock %}